@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #111111;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #111111;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins';
}

@media screen and (min-width: 650px) {
  .scale-up-on-hover {
    @apply cursor-pointer scale-100 hover:scale-125 transition duration-150 ease-out hover:ease-in;
  }
} 
  
@font-face {
  font-family: 'Poppins';
  src: 
    url('../app/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: 
    url('../app/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: 
    url('../app/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600; /* SemiBold */
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: 
    url('../app/fonts/Poppins-Thin.ttf') format('truetype');
  font-weight: 100; /* Thin */
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: 
    url('../app/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500; /* Medium */
  font-style: normal;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-gradient-from-gray {
  background-image: linear-gradient(to top, #104c1a, rgba(255, 255, 255, 0));
}
